<!DOCTYPE html>
{% extends 'mainfolder/base.html' %}
    {% block body_block %}
        <div class="jumbotron">
          <div class="container">
            <h1>Welcome To The OnlineExam Page !!!</h1><br>

            <ol>
                <li>Firstly you Signup in this portal</li>
                <li>Afte completing the signin </li>
                <li>You have to login in the Exam</li>
                <li>After Finishing the exam logout the page</li>
            </ol>
            
          </div>
        </div>
    {% endblock %}